<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Histórico de Compras</h1>
    <ul>
        {% for transacao in transacoes %}
            <li>
                <p>Valor: R${{ transacao.valor }}</p>
                <p>Loja: {{ transacao.loja.nome }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Voltar</a>
</body>
</html>
